@use 'src/styles/variables' as *;

nav.navbar {
    background-color: $white;
    padding: 1rem 20%;
    border-bottom: 1px solid #eee;


    .logo-black {
        height: 50px;
        width: 50px;
        background-color: $color-text;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-gold {
        height: 40px;
        width: 40px;
        background-color: $color-accent;
        border-radius: 50%;
    }

    .navbar-nav {
        display: flex;
        gap: 2rem;
        
        .nav-link {
            position: relative;
            cursor: pointer;
            transition: 0.3s ease;
            color: $black;

            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: $color-accent;
                transition: width 0.3s ease;
            }
            
            &:hover {
                color: $color-accent;

                &::after {
                    width: 100%;
                }
            }
            
            &.active {
                color: $color-accent;
            }
        }
    }


    // Optional: Style the toggler icon
    .navbar-toggler {
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
}