<div class="about container py-5">
    <!-- Header -->
     <section class="text-center mb-5">
        <h1 class="about-title">About Golden Estates</h1>
        <p class="about-subtitle">Crafting timeless experiences in luxurious living.</p>
     </section>

     <!-- Mission & Vision Section -->
      <section class="row text-center mb-5">
        <div class="col-md-6 mb-4">
            <div class="info-card p-4 shadow-sm rounded">
                <h3 class="info-title">Our Mission</h3>
                <p class="info-text">To deliver elegant, tailored real estate experiences that exceed expectations and embody timeless value.</p>
            </div>
        </div>


        <div class="col-md-6 mb-4">
            <div class="info-card p-4 shadow-sm rounded">
                <h3 class="info-title">Our Vision</h3>
                <p class="info-text">To be the most trusted name in luxury real estate, renowned for excellence, discretion, and innovation.</p>
            </div>
        </div>
      </section>


      <!-- Mission Statement -->
       <section class="mission-statement text-center mb-5 px-3">
        <blockquote>
            "Luxury is not just a hotel, it's the art of understanding what truly matters"
        </blockquote>
        <p class="author">- Mission Statement, Golden Estates</p>
       </section>


       <!-- Founder Section -->
        <section class="row align-items-center founder-section">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <img src="../../../../assets/images/agent.jpg" alt="Founder" class="img-fluid rounded shadow founder-img">
            </div>
            <div class="col-lg-7">
                <h3 class="founder-name">Shy Rain</h3>
                <p class="founder-title">Founder & Lead Luxury Agent</p>
                <p class="founder-bio">With over two decades of experience in luxury real estatw, Shyrain founded Golden Estates with a vision of personalized, high-end service. Her expertiss in both classic and contemporary properties has made her a trusted name in elite circles, delivering properties that blend style, substance, and significance.</p>
            </div>
        </section>

</div>