<!-- Hero Section -->
 <div class="hero container py-5">
    <!-- Side Note -->
     <div class="side-note rounded shadow mb-4">
        <h2>Find your house & start your happy life forever</h2>
        <p>ShyLux is a trusted developer in real eastate business. A development that has been trusted in the past and will be trusted for many year to come.</p>
     </div>

     <!-- Filter Form -->
      <div class="filter-container rounded shadow p-4">
        <form class="row g-3">
            <!-- Property Type -->
             <div class="col-12 col-md-3">
                <select class="form-select"></select>
             </div>
        </form>
      </div>
 </div>