<footer class="container-fluid footer-container">

    <div class="main-content">
        <div class="sub-container">
            <h6>Shyrain Estate</h6>
            <p>Elevating lifestyles through timeless properties and personalized service.</p>
        </div>
    
    
        <div class="sub-container">
            <h6>Quick Links</h6>
    
            <ul>
                <li routerLink="/home">Home</li>
                <li routerLink="/listings">Listings</li>
                <li routerLink="/contact">Contact</li>
                <li routerLink="/privacy-policy">Privacy Policy</li>
            </ul>
        </div>
    
    
        <div class="sub-container">
            <h6>Connect</h6>
            <p>Email: <a href="mailto:info@shyrain.com">infoshyrain.com</a></p>
            <p>Phone: <a href="tel:8760000000">(876) 000-0000</a></p>
            <ul>
                <li><a href="#">Instagram<span>.</span></a></li>
                <li><a href="#">Facebook<span>.</span></a></li>
                <li><a href="#">Linkedin</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <p><span class="copyright"><i class="fa-regular fa-copyright"></i></span>2025 ShyrainEstate. All rights reserved.</p>
    
</footer>