@use 'src/styles/variables' as *;

.footer-container {
    background-color: $color-primary;
    color: $color-secondary;
    padding: 3rem 20%;
    text-align: center;
    width: 100%;

    
    h6 {      
        color: $color-secondary;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }


    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        // margin-bottom: 2rem;
        text-align: center;
        
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .sub-container {
        max-width: 22rem;
        flex: 1;
        min-width: 200px;

        p {
            margin: 0.5rem 0;
            font-size: 0.95rem;

            a {
                color: $color-secondary;
                text-decoration: none;

                &:hover {
                    color: $color-accent;
                }
            }
        }

        
        ul {
            list-style: none;
            padding: 0;
            margin-top: 1rem;

            li {
                color: $color-accent; // Gold color for list items
                margin-bottom: 0.5rem;
                font-size: 0.95rem;
                cursor: pointer;

                a {
                    color: $color-accent;
                    text-decoration: none;
                    
                    span {
                        color: $color-secondary;
                    }

                    &:hover {
                        text-decoration: underline;
                        color: lighten($color-accent, 10%);
                    }
                }
            }
        }
    }


    hr {
        border-color: rgba(255, 255, 255, 0.1);
        margin: 2rem 0;

        .copyright {
            font-size: 0.85rem;
            color: lighten($color-secondary, 15%);
            margin: 0;
        }
    }

}