<footer class="container footer-container">

    <div class="main-content">
        <div class="sub-container">
            <h6>Shyrain Estate</h6>
            <p>Elevating lifestyles through timeless properties and personalized service.</p>
        </div>
    
    
        <div class="sub-container">
            <h6>Quick Links</h6>
    
            <ul>
                <li routerLink="">Home</li>
                <li routerLink="">Listings</li>
                <li routerLink="">Contact</li>
                <li routerLink="">Privacy Policy</li>
            </ul>
        </div>
    
    
        <div class="sub-container">
            <h6>Connect</h6>
            <p>Email: infoshyrain.com</p>
            <p>Phone: (987) 000-0000</p>
            <ul>
                <li><a href="">Instagram<span>.</span></a></li>
                <li><a href="">Facebook<span>.</span></a></li>
                <li><a href="">Linkedin</a></li>
            </ul>
        </div>
    </div>

    <hr>

    <p>@ 2025 ShyrainEstate. All rights reserved.</p>
    
</footer>